/* FILE:        UsersList */
.usersList {
    /* I don't want this area to take the full area of the html page in App.js + App.css */
    
    /* Stramg: once I removce the border I loose the top+bottom border */
    border:pink 2px solid;
    background-color: pink;
    max-width: fit-content;
}

.usersList h3 {
    color: blue;
    font-size: 35px;
    padding-left: 20px;
    padding-bottom: 5px;;
    margin-bottom: 0px;
}

.usersList > div {
    background-color: white;
    margin: 20px;
    padding: 20px;
    max-width: fit-content;
}

.usersList div {
    flex-direction: column;
}

.usersList fieldset {
    display: inline-block;
    border: blue 3px solid;
    height: fit-content;
    width: 200px;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;;
    padding-top: 20px;
    font-weight: bold;
}
.usersList button {
    width: 150px;
}